@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Poppins', sans-serif;
    color: burlywood;
}
body{
  background-image: url(/background.jpg);
  
  
}
.photo{
  border-radius: 70%;
  float:right;
  margin-top:10%;
  margin-bottom: 20%;
  margin-right: 100px;
  height:350px;
  width:300px;
  

}
nav{
  margin: auto;
  padding: 50px;
  color: burlywood;
}
a {
  text-decoration: antiquewhite;
  margin: 40px;
  font-family: cursive;
  font-size: large;
}

.rang{
  
  color: bisque;
  font-size: larger;
  padding-left: 100px;
  padding-right: 35%;
  margin-top: 100px;
}
.xyz :hover{
color:cyan
}